# Python related artifacts
venv/
.venv/
__pycache__/
build/
gscemu.egg-info

# MacOS artifacts
.DS_Store

pc.txt

# for when i delete a bunch of code but it might have been a bad idea,
# i keep some backups of local uncommited code here
tmp/

# Ruff linter artifacts
.ruff_cache
